/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #c582ab;
    color: #2f1d57;
    padding: 50px;
    font-size: 50px;
  }
  
  h1 {
    margin: 0;
  }
  section{
    margin: 50px;
    padding: 50px;
    color:#2f3c7e ;
    background-color: #fbeaeb;
  }
  nav ul {
    list-style-type: upper-roman;
    padding: 20;
    margin: 20;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #860f47e5;
    text-decoration: rgb(223, 112, 16);
    padding: 10px;
    font-size: 50px;
  }
  
  nav ul li a:hover {
    background-color: #f7c7c7;
  }
  
  main {
    margin: 100px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    color: #3411d1;
  }
  
  button {
    background-color: #dd86a7;
    color: #221f1f;
    border: 80px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e92929;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Additional styles specific to the food delivery site */
  /* Customize these styles as per your design requirements */
  
  /* Menu items */
  section div {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  /* Order form */
  form {
    display: grid;
    grid-gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #555;
    color: #dfd9d9;
  }
  
  /* Contact section */
  section p {
    margin: 0;
  }
  